.firstRowContainer {
    background-color: rgba(253, 222, 48, 0.61);
}

.mainTitle {
    font-weight: 900;
    font-size: 46px;
}

.mainSubtitle {
    font-weight: 400;
    font-size: 36px;
}

.mainIcon {
    transition-duration: 0.3s;
    cursor: pointer;
}

.mainIcon:hover {
    transition-duration: 0.3s;
    transform: scale(1.07);
}

.mainIconsDescription {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.75);
}

.mainSubjectTitle {
    font-weight: 700;
}

.scrollTopButton {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none;
    outline: none;
    background-color: rgb(255, 226, 78);
    color: black;
    border: 0.5px solid black;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    transition-duration: 0.3s;
  }
  
  .scrollTopButton:hover {
    background-color: rgb(3, 3, 0);
    border: 0.5px solid rgb(253, 222, 48);
    color: rgb(253, 222, 48);
    transition-duration: 0.3s;
  }