.mainContainerNavbar {
    height: 70px;
    font-size: 18px;
}

.navbarBrand {
    font-weight: 700;
    font-size: 22px;
    color: rgba(233, 198, 0, 0.993) !important;
}

.navbarItem {
    background-color: white;
    transition-duration: 0.3s;
}

.navbarItem:hover {
    background-color: rgba(255, 219, 59, 0.979);
    transition-duration: 0.3s;
}

.dropdownDiv {
    width: 100%;
}

.dropdownItem {
    background-color: white;
    font-weight: 400;
    cursor: pointer;
}

.dropdownItem:hover {
    font-weight: 700;
    background-color: rgba(255, 232, 131, 0.979);
}